<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <form id="form" th:action="@{/cost}" method="post" th:object="${cost}">
            <label for="costid">ID:</label>
            <input type="number" th:field="*{costid}"><br>
            <label for="paintingtype">PaintingType:</label>
            <select th:field="*{paintingtype}" th:object="${cost.paintingtype}">
                <option th:each="type : ${paintings}" th:value="${type.paintingtype}" th:text="${type.description}"/>
            </select><br>
            <label for="damageclass">DamageClass:</label>
            <select th:field="*{damageclass}" th:object="${cost.damageclass}">
                <option th:each="damagec : ${damageclass}" th:value="${damagec.damageclass}" th:text="${damagec.description}"/>
            </select><br>
            <label for="damagedepth">DamageDepth:</label>
            <select th:field="*{damagedepth}" th:object="${cost.damagedepth}">
                <option th:each="damaged : ${damagedepth}" th:value="${damaged.damagedepth}" th:text="${damaged.description}"/>
            </select><br>
            <label for="cost">Costo:</label>
            <input type="number" th:field="*{cost}"><br>
            <input id="now" type="submit" class="btn btn-info btn-lg" value="Save" th:unless="*{costid}">
            <button id="edit" type="button" class="btn btn-warning btn-lg" th:if="*{costid}">Edit</button>
        </form>
        <script>
            var button = document.getElementById('edit');
            if (button != null) {
                button.addEventListener('click', function(){
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        window.location.href = "/costs";
                    };
                    xhr.open('PUT', "/cost", false);
                    xhr.send(new FormData(document.getElementById('form')));
                });
            }
        </script>
    </body>
</html>
