<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <table class="table">
            <thead><tr>
                <th>Cost ID</th>
                <th>PaintingType</th>
                <th>DamageClass</th>
                <th>DamageDepth</th>
                <th>Cost</th>
                <th>Action</th>
            </tr></thead>
            <tbody th:each="cost : ${costs}">
                <tr>
                    <td th:text=${cost.costid}></td>
                    <td th:text=${cost.paintingtype.description}></td>
                    <td th:text=${cost.damageclass.description}></td>
                    <td th:text=${cost.damagedepth.description}></td>
                    <td th:text=${cost.cost}></td>
                    <td>
                        <form th:action="'/cost/' + ${cost.costid}" method="get">
                            <input type="submit" class="btn btn-warning" value="Edit">
                            <button type="button" class="btn btn-danger" th:onclick="'eliminar(' + ${cost.costid} + ')'">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table><br>
        <form th:action="@{/cost}" method="get" class="text-center">
            <input type="submit" class="btn btn-primary btn-lg" value="New">
        </form>
        <script>
            function eliminar(id) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    window.location.reload(true);
                };
                xhr.open('DELETE', "/cost/"+id, false);
                xhr.send();
            }
        </script>
    </body>
</html>
