<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <table class="table">
            <thead><tr>
                <th>DamageDepth ID</th>
                <th>Descripcion</th>
                <th>Action</th>
            </tr></thead>
            <tbody th:each="damage : ${damagedepth}">
                <tr>
                    <td th:text=${damage.damagedepth}></td>
                    <td th:text=${damage.description}></td>
                    <td>
                        <form th:action="'/damagedepth/' + ${damage.damagedepth}" method="get">
                            <input type="submit" class="btn btn-warning" value="Edit">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table><br>
        <form th:action="@{/damagedepth}" method="get">
            <input type="submit" class="btn btn-primary" value="New">
        </form>
    </body>
</html>
