<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <form id="form" th:action="@{/painting}" method="post" th:object="${painting}">
            ID: <input type="number" th:field="*{paintingtype}">
            Descripcion: <input type="text" th:field="*{description}">
            <input id="new" type="submit" class="btn btn-info" value="Save" th:unless="*{paintingtype}">
            <input id="edit" type="submit" class="btn btn-warning" value="Update" th:if="*{paintingtype}">
        </form>
        <script>
            var button = document.getElementById("edit");
            if (button != null) {
                document.getElementById("form").addEventListener('submit', function (evt) {
                    evt.preventDefault();
                    evt.stopPropagation();
                    var data = {
                        paintingtype: document.getElementById("paintingtype").value,
                        description: document.getElementById("description").value
                    };
                    var json = JSON.stringify(data);

                    var xhr = new XMLHttpRequest();
                    xhr.open("PUT", '/painting', true);
                    xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
                    xhr.onload = function () {
                        window.location.href = "/paintings";
                    };
                    xhr.send(json);
                });
            }
        </script>
    </body>
</html>
